/** @format */
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.content {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}
.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 3rem 0rem;
  padding: 3rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.lp-img {
  width: 200px;
  margin: 5px;
  border-radius: 20px;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.status {
  margin-bottom: 3rem;
}

.content {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-section {
  display: grid;
  grid-template-columns: auto auto;
}
@media (max-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    right: 70px;
    opacity: 1;
  }
  .content {
    padding: 5rem;
  }
  .card {
    padding: 5rem;
  }
  .btn-section {
    grid-template-columns: auto;
  }
}
